@import "tailwindcss";

/* Tailwind theme tokens */
@theme {
  --color-primary: #9075d9;
  --color-primary-dark: #6244ad;
  --color-support-bg: #167df0;

  --color-mheader: #343541;
  --color-market: #0f1720;
  --color-mcard: #1b1f26;
  --color-mfooter: #0b0d10;
  --color-mbutton: #ffca4f;

  --color-support-bg: #167df0;
}

/* Global CSS variables */
:root {
  --background-color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  /* --color-primary: #7957d5;
  --color-primary-dark: #6244ad;
  --color-support-bg: #167df0; */
  --color-btn: #7a58d6;
  --color-btnHover: #704dd1;
  --color-mixed: linear-gradient(141deg, #3725d4 0%, #7957d5 71%, #9b67df 100%);
  --shadow-custom: 0 2px 3px #0a0a0a1a, 0 0 0 1px #0a0a0a1a, 0 5px 20px #0a0a0a14;
  --button-gradient: linear-gradient(90deg, #ff5f6d, #ffc371);

}

.text-shadow-sm {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.card-shadow {
  box-shadow: 0 20px 50px rgba(137, 94, 218, 0.14);
}